* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
}

body {
  overflow-x: hidden;
}

/* +++++++++++++++++++++++++++++++++++++++
    --------Root Section_-----------
    ++++++++++++++++++++++++++++++++++++++ */

:root {
  --green: #38b000;
  --dark-green: #134611;
  --light-cream: #f6e7cb;
  --white: #ffffff;
  --secondary-white: #f2f2f2;
  --gray: #808080;
  --light-red: #ef233c;
}

/* +++++++++++++++++++++++++++++++++++++++
    --------common code Section_-----------
    ++++++++++++++++++++++++++++++++++++++ */

h2 {
  margin-bottom: 0;
}
ul {
  margin-bottom: 0;
}

.our-container {
  margin-left: 40px;
  margin-right: 40px;
}

.mx-20 {
  margin-left: 20px;
  margin-right: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.py-40 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.py-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-50 {
  padding-bottom: 50px;
}

a {
  color: var(--white);
}

a:hover {
  text-decoration: none;
  color: gray;
}

li {
  list-style-type: none;
}

.footer-heading {
  font-size: 18px;
  font-weight: 600;
}

.collection-heading {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.bg-light-orange {
  background-image: linear-gradient(to top, #feada6 0%, #f5efef 100%);
}

img {
  object-fit: cover;
}

/* +++++++++++++++++++++++++++++++++++++++
    --------main Section_-----------
    ++++++++++++++++++++++++++++++++++++++ */
.main-section {
  background: url("../img/pablo-merchan-montes-Orz90t6o0e4-unsplash.jpg");
  background-size: cover;
  height: 100vh;
}

/* +++++++++++++++++++++++++++++++++++++++
    --------navigation Section_-----------
    ++++++++++++++++++++++++++++++++++++++ */

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  padding: 10px 0px;
  height: 0;
  min-height: 60px;
  overflow: hidden;
  transition: all 1s ease-in-out;
}

.navigation .toggle-btn{
  border: none;
  outline: none;
  font-size: 20px;
  background: none;
  font-size: 25px;
  position: absolute;
  top: 15px;
  right: 20px;
  color: white;
  display: none;
}

.navigation .nav-brand {
  color: var(--white);
  font-weight: 700;
}

.navigation .nav-linkss {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.navigation .register {
  display: flex;
  gap: 20px;
}

.collapse-toggle{
  min-height: 350px;
}

/* +++++++++++++++++++++++++++++++++++++++
    --------hero Section_-----------
    ++++++++++++++++++++++++++++++++++++++ */

.hero-section {
  display: flex;
  align-items: center;
  min-height: calc(80vh - 30px);
  position: relative;
}

.hero-section .hero-text {
  color: var(--white);
}

.hero-section .hero-text h2 {
  font-size: 50px;
  font-weight: 700;
  --webkit-text-stroke: 3px;
}

.hero-section .hero-text h2::first-letter{
  color: var(--light-red);
  font-size: 85px;
}

.hero-section .circle-section {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 350px;
  left: 100px;
}

 .hero-section .circle-section .animate-circle{
   height: 40px;
   width: 40px;
   text-align: center;
   padding:8px 12px;
   color: white;
   font-weight: 700; 
   background: var(--light-red);
   animation-name: circle;
   animation-duration: 2s;
   animation-iteration-count: infinite;
   border-radius: 50%;
   animation-direction: alternate-reverse;
   margin-left: 10px;
   background: transparent;
   background: var(--light-red);
 }

 @keyframes circle{
   0%{
     transform: translateX(-100px)

   }
   20%{
   }
   
   100%{
    transform: translateX(-10px)
  
   }

 }

.hero-section .hero-text h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 30px;
  color: var(--light-red);
  font-weight: 600;
}

.hero-section .hero-text p {
  font-size: 20px;
}

.hero-section .hero-text .search-bar .search-input {
  width: 300px;
  padding: 8px 16px;
  border: none;
  outline: none;
  background: transparent;
  border: 2px solid var(--light-red);
  color: var(--white);
}

.hero-section .hero-text .search-bar .search-input::placeholder{
  color: white;
}

.submit-btn {
  padding: 8px 16px;
  color: white;
  font-weight: 600;
  background: var(--light-red);
  border: none;
  outline: none;
  font-size: 18px;
  text-transform: uppercase;
  border: 1px solid var(--light-red);
}



/* +++++++++++++++++++++++++++++++++++++++
    --------hero Section_-----------
    ++++++++++++++++++++++++++++++++++++++ */


.hero{
  min-height: 100vh;
  position: relative;
  background-image: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5));
  background: linear-gradient(90deg, rgba(131,58,180,.2) 0%, rgba(20,29,29,1.2) 50%, rgba(252,176,69,.4) 100%);
}

.hero .back-video{
  position:  absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* object-fit: contain; */
  z-index: -1;
}

.hero .hero-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white);
}

.hero .hero-section .hero-heading{
  font-weight: 700;
  font-size: 40px;
}

.hero .hero-section .hero-paragraph{
  font-size: 20px;
  margin-top: 10px;
}

.hero .hero-section span{
  font-size: 25px;
  color: var(--light-red);
  font-weight: 600;
  margin-bottom: 10px;
  text-shadow: 0 15px 20px rgba(255, 0, 0, 0.8);

}

.hero .hero-section .search-food input{
  height: 40px;
  width: 600px;
  padding-left: 20px;
  border: none;
  outline: none;
  border-radius: 10px;
}

.hero .hero-section .search-food input::placeholder{
  font-size: 14px;
}

.hero .hero-section .search-food .order-now-btn{
  background: var(--light-red);
  border: none;
  color: var(--white);
  padding: 8px 20px;
  font-weight: 600;
  outline: none;
  box-shadow: 0 15px 20px rgba(255, 0, 0, 0.8);
  border-radius: 10px;
}

.hero .hero-section .order-food-online{
  padding: 15px 30px ;
  background:radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(173,80,167,1) 81%, rgba(252,70,107,1) 100%);
  margin-top: 20px;
  font-size: 18px;
  border-radius: 10px;
  animation: online-move;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  
}

@keyframes online-move {
  0%{
    transform: translateX(-200px);
  }
  100%{
    transform: translateX(200px);
 
  }
}


.hero .hero-section .order-food-online p{
  margin: 0;
}





/* +++++++++++++++++++++++++++++++++++++++
    --------product Section_-----------
    ++++++++++++++++++++++++++++++++++++++ */

.most-popular-dish .popular-dish-card .single-card {
  margin: 30px 0px;
  border: 1px solid white;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

.img-box {
  height: 200px;
  overflow: hidden;
}

.most-popular-dish .popular-dish-card .single-card .popular-dish-text {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.most-popular-dish
  .popular-dish-card
  .single-card
  .popular-dish-text
  .card-title {
  font-size: 20px;
  font-weight: 600;
}

.most-popular-dish
  .popular-dish-card
  .single-card
  .popular-dish-text
  .card-description {
  font-size: 14px;
  line-height: 20px;
  overflow: hidden;
  height: 65px;
}
.most-popular-dish
  .popular-dish-card
  .single-card
  .popular-dish-text
  .price-title {
  font-size: 22px;
  font-weight: 700;
}

.most-popular-dish
  .popular-dish-card
  .single-card
  .popular-dish-text
  .price-title
  span {
  color: var(--light-red);
}

/* +++++++++++++++++++++++++++++++++++++++
    --------about Section_-----------
    ++++++++++++++++++++++++++++++++++++++ */

.about-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.about-section .common-about {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--white);
  padding-top: 40px;
  padding-bottom: 40px;
  position: relative;
}

.about-section .common-about:hover h2 {
  font-size: 25px;
}

.about-section .common-about h2 {
  font-size: 22px;
  font-weight: 700;
  color: black;
}

.about-section .common-about .common-circle {
  position: absolute;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  opacity: 0.2;
}

.about-section .common-about .left-circle {
  left: 55px;
  background: var(--light-red);
}

.about-section .common-about .right-circle {
  right: 55px;
  background: var(--green);
}

/* +++++++++++++++++++++++++++++++++++++++
    --------collection Section_-----------
    ++++++++++++++++++++++++++++++++++++++ */

.collection-area .collection-item {
  height: 300px;
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
  overflow: hidden;
  position: relative;
}

.collection-area .collection-item .collection-text {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5px 10px;
  font-weight: 800;
  color: white;
  width: 100%;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0.05) 50%,
    rgba(0, 0, 0, 0.4) 85%
  );
}

.collection-area .collection-item .collection-text h4 {
  font-weight: 700;
}

.collection-area .collection-item .collection-text p i {
  margin-left: 10px;
}

/* +++++++++++++++++++++++++++++++++++++++
    --------top dishes  Section_-----------
    ++++++++++++++++++++++++++++++++++++++ */

.top-dishes .top-dish-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.top-dishes .top-dish-item .top-dish-image {
  border-left: 10px solid var(--light-red);
}

.top-dishes .top-dish-item .top-dish-text {
  border-right: 10px solid var(--light-red);
}

.top-dishes .top-dish-item .top-dish-image,
.top-dish-text {
  padding: 50px;
  border-radius: 50px;
}

.top-dishes .top-dish-item .top-dish-text h5 {
  margin: 10px 0px;
  color: var(--light-red);
  font-weight: 600;
  letter-spacing: 1px;
}

.top-dishes .top-dish-item .top-dish-image img {
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.top-dishes .top-dish-item .top-dish-text .dish-description {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.top-dishes .top-dish-item .top-dish-text .dish-description .ingradients h6 {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 600;
}

.top-dishes .top-dish-item .top-dish-text .dish-description .ingradients p {
  font-size: 15px;
  margin-bottom: 2;
  letter-spacing: 0.5px;
}

.top-dishes .top-dish-item .top-dish-text .price {
  font-size: 25px;
  margin: 15px 0px;
  font-weight: 700;
  color: var(--light-red);
  text-shadow: 0 15px 20px rgba(255, 0, 0, 0.4);
}

/* +++++++++++++++++++++++++++++++++++++++
    --------healthy life Section_-----------
    ++++++++++++++++++++++++++++++++++++++ */

.healthy-life {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* +++++++++++++++++++++++++++++++++++++++
    --------Inspration Section_-----------
    ++++++++++++++++++++++++++++++++++++++ */

.inspration-section .order-image-contain .order-image {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  overflow: hidden;
}

/* +++++++++++++++++++++++++++++++++++++++
    --------Top Brand Section_-----------
    ++++++++++++++++++++++++++++++++++++++ */

.brand-section-image {
  background-image: url("../img/icon-5974829_1280.png");
  background-size: cover;
}

/* +++++++++++++++++++++++++++++++++++++++
    --------Testimonials Section_-----------
    ++++++++++++++++++++++++++++++++++++++ */
.testimono .testimonial {
  color: var(--white);
}

.testimono .testimonial .testimonial-item {
  height: 350px;
  width: 350px;
  background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
  background-image: linear-gradient(to top, #cc208e 0%, #6713d2 100%);
  box-shadow: 0 15px 20px rgba(245, 87, 108, 0.3);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.testimono .testimonial .testimonial-item h5 {
  font-size: 25px;
}

.testimono .testimonial .testimonial-item p {
  width: 80%;
  height: 75px;
  overflow: hidden;
  text-align: center;
}

.testimono .testimonial .testimonial-item span {
  font-size: 35px;
}

.testimono .testimonial .testimonial-item .testimonial-square {
  height: 40px;
  width: 300px;
  position: absolute;
  background: white;
  color: var(--light-red);
  text-align: center;
  font-size: 25px;
  font-weight: 700;
}

.testimono .testimonial .testimonial-item .testimonial-square-top {
  top: 30px;
}

.testimono .testimonial .testimonial-item .testimonial-square-bottom {
  bottom: 10px;

}

.testimono .testimonial .testimonial-item .font-change{
  color: black;
  font-size: 18px;

}

/* +++++++++++++++++++++++++++++++++++++++
    --------footer Section_-----------
    ++++++++++++++++++++++++++++++++++++++ */

.footer-bg-image {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  background-size: cover;
  position: relative;
}

.common-content .common-logo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
}

.common-content .common-logo .common-line {
  width: 100%;
  height: 3px;
  background: var(--light-red);
  border-radius: 20px;
}

.common-content .common-logo .common-logo {
  display: flex;
  font-size: 30px;
  font-weight: 800;
  color: var(--light-red);
}

/* .common-content .footer-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.common-content .footer-links .footer-privacy {
  display: flex;
  flex-direction: column;
}

.common-content .footer-links .footer-privacy a {
  color: black;
}

.common-content .footer-links .footer-privacy a:hover {
  color: var(--light-red);
}

.common-content .footer-links .footer-privacy .footer-social {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  font-size: 30px;
  color: var(--light-red);
}

.common-content .footer-links .footer-privacy .vertical-line {
  width: 5px;
  background: var(--light-red);
  height: 130px;
  margin-top: 20px;
  position: relative;
  left: 50%;
  border-radius: 20px;
}

.common-content .footer-links .footer-privacy .newsletter {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  margin: 10px 0px;
}

.common-content .footer-links .footer-privacy .news-input{
  padding: 4px 8px;
  margin-bottom: 10px;
  border: 1px solid var(--dark-green);
  outline: none;
}

.common-content .footer-links .footer-privacy .subscribe-btn{
  padding: 4px 8px;
  border: none;
  outline: none;
  background: #29a94a;
  color: var(--white);
  font-weight: 700;
} */

.common-content .footer-social{
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 20px 0px;
}

.common-content .footer-social .social h2, .common-content .footer-social .contact-us h2{
  font-size: 25px;
  font-weight: 600;
  color: var(--gray);
}

.common-content .footer-social .social .social-icons{
  display: flex;
  gap: 20px;
  padding: 20px 0px;
}

.common-content .footer-social .social .social-icons .common-social{
  height: 35px;
  width: 35px;
  border-radius: 50%;
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.twitter-color{
  background: rgb(53, 180, 230);
}

.google-color{
  background: rgb(242, 45, 45);
}

.insta-color{
  background: rgb(245, 77, 77)
}

.linkedin-color{
  background: #036a9e;
}

.common-content .footer-social .contact-us .contact-details{
  display: flex;
  gap: 20px;
  margin-top: 20px;
  justify-content: space-around;

}

.common-content .footer-social .contact-us .contact-details .address{
  display: flex;
  align-items: center;
  
  gap: 20px;
}


.common-content .footer-social .contact-us .contact-details .address i{
  font-size: 40px;
  color: gray;
}

.common-content .footer-social .contact-us .contact-details .address .address-name h3{
  font-size: 16px;
  font-weight: 600;
  color: gray;
}

.common-content .footer-social .contact-us .contact-details .address .address-name p{
  font-size: 14px;
  color: gray;  
}

.common-content .footer-links{
  padding: 30px 0px;
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.common-content .footer-links .footer-links-section h2{
  border-left: 3px solid red;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 20px;
  
 
}

.common-content .footer-links .footer-links-section h2::before{
  content: "";
  height: 3px;
  width: 40px;
  background: gray;
  display: block; 
  animation: change;
  animation-duration: 1s; 
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

.common-content .footer-links .footer-links-section h2::after{
  content: "";
  height: 3px;
  width: 40px;
  background: gray;
  display: block;
  animation: change;
  animation-duration: 1s; 
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
    
}

@keyframes change{
  0%{
    background: red;
    transform: translateX(100px);
  }
  100%{
    background: blue;
  }
}

.common-content .footer-links .footer-links-section p{
  margin: 10px 0px;
  font-size: 14px;
  text-transform: uppercase;
}


.common-content .footer-links .footer-links-section p a{
  color:gray;
}

.common-content .footer-links .footer-links-section p a:hover{
  color: var(--light-red);
}

.fa-caret-right{
  color: var(--light-red);
  margin-right: 6px;
}

.common-content .copyright{
text-align: center;
background: black;
color: var(--white);
border-bottom-left-radius: 50%;
border-bottom-right-radius: 50%;
}

.common-content  .copyright p{
  text-align: center;
}

















.hotel {
  position: absolute;
  top: 30%;
  font-size: 150px;
  left: 20%;
  color: var(--light-red);
}

.fa-fire,
.fa-address-book {
  font-size: 30px;
  color: var(--light-red);
  margin-bottom: 10px;
}

@media (max-width: 768px) {

  /* .nav-background{
    background: var(--light-red);
  } */
  .navigation, .navigation .nav-linkss{
    display: block;
  }

  .navigation .nav-linkss{
    padding: 8px 0px;
    font-size: 22px;
    color: white;
    
  }
  .navigation .register {
    font-size: 25px;
    gap: 5px;
    flex-direction: column;
  }

  .navigation .toggle-btn{
    display: initial;
  }
  
  .about-section {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

  .hero-section .hero-text h2 {
    font-size: 35px;
  }
  .hero-section .hero-text h3 {
    font-size: 25px;
  }
  .hero-section .hero-text p {
    font-size: 18px;
  }

  .hero-section .search-bar input {
    width: 220px;
  }

  .common-content .common-logo {
    grid-template-columns: 1fr;
  }

  .common-content .footer-privacy {
    padding-top: 20px;
    text-align: center;
  }

  .top-dishes .top-dish-item {
    grid-template-columns: 1fr;
  }

  .top-dishes .top-dish-item .top-dish-image {
    border-left: none;
    padding: 20px;
  }

  .top-dishes .top-dish-item .top-dish-text {
    border-right: none;
  }
  .common-content .footer-links {
    grid-template-columns: 1fr 1fr;
  }
  .common-content .common-logo .common-logo {
    font-size: 30px;
  }

  .hotel {
    display: none;
  }
}

@media (max-width: 600px) {
  .py-40 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .about-section {
    grid-template-columns: repeat(1, 1fr);
  }
  .common-content .footer-links {
    grid-template-columns: 1fr;
  }

  .healthy-life p {
    width: 100% !important;
  }

  .common-content .common-logo .common-logo {
    font-size: 24px;
  }
}
